.profile{
    width: 880px;
    display: flex;
}

@media screen and (max-width: 800px){
    .profile{
        width: 768px;
        margin-left: 10px;
    }
}  

@media screen and (max-width: 540px){
    .profile{
        width: 282px;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }
}