.header{
    max-width: 880px;
    margin: auto;
    margin-top: 45px;
    margin-bottom: 40px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 540px){
    .header{
        max-width: 320px;
        margin-top: 28px;
        margin-left: 27px;
        margin-bottom: 42px;
    }
}