.post-list__like{
    background-image: url(../../../Images/Like.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: white;
    width: 22px;
    height: 19px;
    border: 0;
    align-self: center;
    cursor: pointer;
}

.post-list__like:hover{
    opacity: 0.5;
    transition-duration: 1s;
}