.popup__text{
    width: 358px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    margin-left: 36px;
    margin-top: 54px;
    margin-bottom: 0;
}

.popup__text:last-of-type{
    margin-top: 30px;
}